html,
body {
  font-size: 10px;
}

h1 {
  margin-bottom: 3rem;
  font-family: Eczar;
  font-size: 18.225em;
  line-height: 21rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

h2 {
  margin-bottom: 3rem;
  font-family: Eczar;
  font-size: 12.15em;
  line-height: 15rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

h3 {
  margin-bottom: 3rem;
  font-family: Eczar;
  font-size: 8.1em;
  line-height: 9rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

h4 {
  margin-bottom: 3rem;
  font-family: Eczar;
  font-size: 5.4em;
  line-height: 6rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

h5 {
  margin-bottom: 3rem;
  font-family: 'Work Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3.6em;
  line-height: 6rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

h6 {
  margin-bottom: 3rem;
  font-family: 'Eczar', Georgia, 'Times New Roman', Times, serif;
  font-size: 2.4000000000000004em;
  line-height: 3rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0em;
}

p,
a {
  margin-bottom: 3rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.6em;
  line-height: 3rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
}

@media screen and (max-width: 720px) {
  h6 {
    font-size: 1.7999999999999998em;
    line-height: 3rem;
  }
  h5 {
    font-size: 2.6999999999999997em;
    line-height: 3rem;
  }
  h4 {
    font-size: 4.05em;
    line-height: 6rem;
  }
  h3 {
    font-size: 6.075em;
    line-height: 9rem;
  }
  h2 {
    font-size: 9.112499999999999em;
    line-height: 12rem;
  }
  h1 {
    font-size: 13.66875em;
    line-height: 15rem;
  }
}
